<p>Schedules for week of <%= @sunday %></p>

<!-- Basic Schedules Table -->
<table>
  <tr>
    <th>Employee</th>
    <th>Start Time</th>
    <th>End Time</th>
  </tr>

  <% @schedules.each do |schedule| %>
    <tr>
      <td><%= schedule.employee.first_name %></td>
      <td><%= schedule.start_time %></td>
      <td><%= schedule.end_time %></td>
    </tr>
  <% end %>

</table>

<!-- Schedule Form -->
<%= simple_form_for :schedules, class: 'schedules' do |f| %>
  <% @shifts.each do |employee, shifts| %>
    <div class="row">
      <div class="small-1 columns">
        <%= employee.first_name %>
      </div>

      <div class="small-12 columns">
        <%= f.simple_fields_for "employee_#{employee.id}" do |ff| %>
          <% shifts.each do |shift| %>
            <%= ff.simple_fields_for "shift_#{shift.id}", shift do |s| %>
              <div class="small-2 columns">
                <%= s.input :start_time %>
              </div>
              <div class="small-2 columns">
                <%= s.input :end_time %>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>

      <div class="small-1 columns">
        Total
      </div>

    </div>
  <% end %>

  <%= f.button :submit, 'Save' %>
<% end %>


<%= simple_form_for :create_schedules do |f| %>
  <%= f.input :weeks, collection: @upcoming_weeks %>
  <%= f.button :submit, 'Create New Week' %>
<% end %>


<!--
<%= simple_form_for @schedule do |f| %>
  <div class="row">
    <div class="small-6 columns">
      <div class="small-4 columns">
        <%= f.association :employee, collection: @employees, label_method: :first_name %>
        <%= f.button :submit, 'Add Shift' %>
      </div>
      <div class="small-4 columns">
        <%= f.input :start_time %>
      </div>
      <div class="small-4 columns">
        <%= f.input :end_time %>
      </div>
    </div>
  </div>
<% end %>
 -->
